#Yaml config file

name: CNN2
data:
        - F:/andrea/AIdataXRF/synthetic_data/synth_general_1_90_1024.h5
        - F:/andrea/AIdataXRF/synthetic_data/synth_general_1_30_1024.h5
        - F:/andrea/AIdataXRF/synthetic_data/synth_general_30_90_1024.h5
        - F:/andrea/AIdataXRF/synthetic_data/synth_general_ubound07_1024.h5
        - F:/andrea/AIdataXRF/synthetic_data/synth_sampled_1024.h5

eval_data:
 - F:/andrea/AIdataXRF/base/ElGrecoAnalysis_downsample66_weighted_x1024_with_labels.h5
#  - F:/andrea/AIdataXRF/base/3317HVIIAnalysisBis_downsample99_weighted_x1024_with_labels.h5
#  - 'F:/andrea/AIdataXRF/base/3314MargaretAnalysis_downsample1111_weighted_x1024_with_labels.h5'
#  - 'F:/andrea/AIdataXRF/base/giulia_downsample22_weighted_x1024_with_labels.h5'

num_threads: 2
device: cuda

labels: 
  - 'Pb-L'
  - 'Au-L'
  - 'Ca-K'
  - 'Co-K'
  - 'Cu-K'
  - 'Fe-K'
  - 'Mn-K'
  - 'Hg-L'
  - 'Ti-K'
  - 'Zn-K'

model: CNN2
loss: L1Loss
optimizer: Adam
learning_rate: 0.000025
momentum: 0.99
batch_size: 256
n_epochs: 512
epoch_size: 65536

channels: 6
kernel_size: 5

scales: 
  - 
  # - 0.8
#   - 1
#   - 1.1
#   - 1.2
#   - 1.4
#   - 1.5
#   - 1.7
#   - 1.75 