#Yaml config file

name: ResNet1
data:
        - /home/shared/dataXRF/giulia_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/rescaled12_giulia_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/rescaled22_giulia_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/rescaled23_giulia_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/rescaled33_giulia_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/rescaled44_giulia_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/henryVIII_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/henryVII_2156_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/margaret_weighted_1024_with_labels.h5
        - /home/shared/dataXRF/elisabeth_weighted_1024_with_labels.h5

eval_data:
  - /home/shared/dataXRF/downsample6_giulia_weighted_1024_with_labels.h5
  - /home/shared/dataXRF/downsample6_elgreco_weighted_1024_with_labels.h5
  - /home/shared/dataXRF/downsample9_henryVII_x1024_with_labels.h5

num_threads: 8
device: cuda

model: ResNet1
loss: L1Loss
learning_rate: 0.0005
batch_size: 128
n_epochs: 64

weights: True

channels: 16
