#Yaml config file

name: CNN3_synth_no_00_Pb_7_11

data:
  #- /home/shared/AIdataXRF/synth_general_01_5_1024.h5
  #- /home/shared/AIdataXRF/synth_general_1_30_1024.h5
  #     - /home/shared/AIdataXRF/synth_general_1_90_1024.h5
  - /home/shared/AIdataXRF/synth_general_30_90_1024.h5
  #- /home/shared/AIdataXRF/synth_general_ubound07_1024.h5
  #- /home/shared/AIdataXRF/synth_sampled_1024.h5
  #- /home/shared/AIdataXRF/slfixed_Pb_u7_rl_05_90_1024.h5
  - /home/shared/AIdataXRF/slfixed_Pb_rl_05_90_1024.h5
  #- /home/shared/AIdataXRF/slfixed_Pb_rl_05_90_1024.h5
  #- /home/shared/AIdataXRF/slfixed_Pb_rl_05_90_1024.h5
  #- /home/shared/AIdataXRF/slfixed_Pb_rl_05_90_1024.h5

eval_data:
  - /home/shared/AIdataXRF/downsample6_giulia_1024_with_labels6.h5
  - /home/shared/AIdataXRF/downsample7_elgreco_1024_with_labels.h5
  - /home/shared/AIdataXRF/downsample9_henryVII_x1024_with_labels6.h5

labels:
  - Pb-L 
  - Fe-K 
  - Mn-K
  - Cu-K
  - Zn-K
  - Co-K
  - Cd-K
  - K-K
  - Ca-K
  - Ba-L
  - Ti-K
  - As-K
  - Hg-L
  - S-K
  - P-K
  - Cr-K
  - Au-L

num_threads: 2
device: cuda

model: CNN3
loss: L1Loss
optimizer: Adam
learning_rate: 0.00007
momentum: 0.99
batch_size: 256
n_epochs: 512
epoch_size: 131072

weights: False

channels: 11
kernel_size: 5
